---
title: Chase Woodford | B-Sides
layout: layout.njk
---

<div class="row">
    <div class="col-12 col-lg-10 mb-4 mx-auto">
        <h3 class="border-bottom pb-1 mb-3">bsides/</h3>
        <div class="table-responsive">
            <table class="table table-striped table-playground">
                <thead>
                <tr>
                    <th>track</th>
                    <th class="ps-4">title</th>
                    <th>length</th>
                    <th>size (kb)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td><a href="/resources/audio/guitar/bsides/Almost%20Is%20Never%20Enough.mp3">almost is never enough (ariana grande cover)</a></td>
                    <td>5:16</td>
                    <td>4,933</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><a href="/resources/audio/guitar/bsides/I%20know%20You%20Care.mp3">i know you care (ellie goulding cover)</a></td>
                    <td>2:58</td>
                    <td>2,791</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><a href="/resources/audio/guitar/bsides/Strings%20That%20Tie%20To%20You.mp3">strings that tie to you (jon brion cover)</a></td>
                    <td>2:44</td>
                    <td>5,140</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>