---
title: Chase Woodford | Eulogy for Yukon Cornelious
layout: layout.njk
---

<div class="row">
    <div class="col-12 col-lg-10 mb-4 mx-auto">
        <h3 class="border-bottom pb-1 mb-3">Eulogy for Yukon Cornelious</h3>
        <pre>
Eulogy for Yukon Cornelious

    for John—

1.
In the short day
Doesn't he watch the White Pass

As the clock's arms girdle
The sixes and sevens.

Soon the skag will migrate
North these poles—

Lining the horizon, whose
Fill has never seeen such lividness.

Still, the moon settles on
A night fit for neither man
Nor beast.

2.
He knew the all of things—
How Bumbles bounce and sink

And of blue, the new black.
Sobering his lobes the red pom,

While the fire tended the black boot.
Yet, his heart never warmed

And had trouble passing icicles
For blood.

Still, he had song
"Gold and silver, silver and gold"
And friends with doused noses who'd sing along.
        </pre>
    </div>
</div>