---
title: Chase Woodford | What is with today today
layout: layout.njk
---

<div class="row">
    <div class="col-12 col-lg-10 mb-4 mx-auto">
        <h3 class="border-bottom pb-1 mb-3">What is with today today</h3>
        <pre>
What is with today today

Today like every other
I am growing faster faster

Faster like my father
Who when he dreams dreams

Dreams of being younger
What is with today today

Today like every other
        </pre>
    </div>
</div>