<nav class="navbar navbar-expand-md mb-4 bg-white sticky-top">
    <div class="container-fluid px-0">
        <a class="navbar-brand" href="/">
            {# TODO: replace with brand icon #}
            <img src="./assets/img/icon_60x60.png" alt="logo" width="60" height="60">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {# TODO: make active page work #}
                {# TODO: style nav items #}
                <li class="nav-item"><a href="/resume" class="nav-link">Resume</a></li>
                <li class="nav-item"><a href="/playground" class="nav-link">Playground</a></li>
                <li class="nav-item"><a href="#offcanvasExample" class="nav-link" data-bs-toggle="offcanvas" role="button" aria-controls="offcanvasExample">About</a></li>
            </ul>
        </div>
    </div>
</nav>