<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">

    <meta name="description" content="Personal website for designer/developer Chase Woodford">
    <meta name="theme-color" content="#0a7ab6">
    <meta name="msapplication-TileColor" content="#0a7ab6">
    <meta name="msapplication-config" content="/assets/documents/browserconfig.xml">

    <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
    <link rel="manifest" href="/assets/documents/site.webmanifest">
    <link rel="mask-icon" href="/assets/img/safari-pinned-tab.svg" color="#0a7ab6">
    <link rel="shortcut icon" href="/assets/img/favicon.ico">
</head>
<body class="container d-flex flex-column">
{% include 'header.njk' %}

<main class="flex-grow-1">
    {{ content | safe }}
</main>

{% include 'footer.njk' %}
{% include 'about.njk' %}

<script src="/main.js" defer></script>
</body>
</html>
