<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <script src="/main.js" defer></script>
    <title>{{ title }}</title>
    {% block head %}{% endblock %}
</head>
<body class="container d-flex flex-column">
{% include 'header.njk' %}
<main class="flex-grow-1">
    {{ content | safe }}
 </main>
{% include 'footer.njk' %}
{% include 'about-off-canvas.njk' %}
</body>
</html>
