---
layout: layout.njk
---
<div class="row">
    <div class="col-12 col-lg-10 mb-4 mx-auto">
        <div class="d-flex flex-row flex-wrap border-bottom pb-1 mb-3 align-items-baseline justify-content-between">
            <h1 class="h3 mb-2 mb-lg-0 me-3">{{ title }}</h1>
            <span class="mb-2 mb-lg-0 small text-muted fw-light fst-italic">{{ date | shortDate }}</span>
        </div>
        {{ content | safe }}
    </div>
</div>