.pagination {
	--bs-pagination-disabled-bg: none;
}

.pagination-posts .page-link {
	border: none;
}

.pagination-posts .page-link:hover,
.pagination-posts .page-link:focus {
	background-color: transparent;
	box-shadow: none;
}