.table-playground tr {
	td {
		a {
			display: flex;
			margin-left: 1rem;
			margin-right: 2rem;
		}

		img {
			display: block;
			margin-left: 1rem;
			margin-right: 1rem;

			&.ebook {
				width: 50px;
			}
		}

		&:first-child {
			background-color: $gray-100;
		}

		&:first-child {
			width: 1px;
			white-space: nowrap;
		}
	}
}