.table-playground tr {
	td {
		a {
			margin-left: 1rem;
			margin-right: 2rem;
		}

		img {
			display: block;
			margin-left: 1rem;
			margin-right: 1rem;
		}

		&:first-child {
			background-color: $table-hover-bg;
		}

		&:first-child, &:nth-child(2) {
			width: 1px;
			white-space: nowrap;
		}
	}
}