---
title: Chase Woodford | for coming "
layout: layout.njk
---

<div class="row">
    <div class="col-12 col-lg-10 mb-4 mx-auto">
        <h3 class="border-bottom pb-1 mb-3">for coming "</h3>
        <pre>
for coming "

(well
water&you)r
br Ill
iant Eyes–my(dream
s)Habu Sake

jar
Red&c
oile
(mouth
open,fang–bare)d

the yearsyours
and I t(w)oo

little;lonely;gestures.

that–medicine
ever
y thin(k)g
ails&ales

andI
"thank you
        </pre>
    </div>
</div>