---
title: Chase Woodford | let love (in
layout: layout.njk
---

<div class="row">
    <div class="col-12 col-lg-10 mb-4 mx-auto">
        <h3 class="border-bottom pb-1 mb-3">let love (in</h3>
        <pre>
let love (in
constant) be

collapse, if you
on me, then here

withall
—problems and probables—

that a century's
let of advances

can't tame, or
explain (you

and I) but entangle, perhaps
(and with a whimper)

the sitcom, friends
the loudest bangs

we never saw (coming
of the nauseous fill

) in the space between
the in and certainty
        </pre>
    </div>
</div>