---
title: Chase Woodford | Guitar
layout: layout.njk
---

<div class="row">
    <div class="col-12 col-lg-10 mb-4 mx-auto">
        <h3 class="border-bottom pb-1 mb-3">guitar/</h3>
        <div class="table-responsive">
            <table class="table table-striped table-playground">
                <thead>
                <tr>
                    <th></th>
                    <th class="ps-4">album</th>
                    <th>year</th>
                    <th>tracks</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><img src="/assets/img/ico-back.gif" alt="back icon"></td>
                    <td><a href="/playground">parent directory</a></td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><img src="/assets/img/ico-folder.gif" alt="folder icon"></td>
                    <td><a href="/playground/guitar/wordsFromWiconisco/">words from wiconisco</a></td>
                    <td>2001</td>
                    <td>11</td>
                </tr>
                <tr>
                    <td><img src="/assets/img/ico-folder.gif" alt="folder icon"></td>
                    <td><a href="/playground/guitar/longStoryShort/">long story short</a></td>
                    <td>2006</td>
                    <td>11</td>
                </tr>
                <tr>
                    <td><img src="/assets/img/ico-folder.gif" alt="folder icon"></td>
                    <td><a href="/playground/guitar/bsides/">b-sides</a></td>
                    <td>-</td>
                    <td>3</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>