---
title: Chase Woodford | Reading like a novella in the furrows
layout: layout.njk
---

<div class="row">
    <div class="col-12 col-lg-10 mb-4 mx-auto">
        <h3 class="border-bottom pb-1 mb-3">Reading like a novella in the furrows</h3>
        <pre>
Reading like a novella in the furrows
of her brow —
discovered were eyes that
silenced every sound, cast
pirate edge-plank
with neither floor to fight over
nor need, and
if a welcome overstayed was
that bend lay hidden
in the prologue, which people
no longer bother writing (let alone read)
        </pre>
    </div>
</div>