---
title: Chase Woodford | & What to a cat is a lap but a stage :|| grave.
layout: layout.njk
---

<div class="row">
    <div class="col-12 col-lg-10 mb-4 mx-auto">
        <h3 class="border-bottom pb-1 mb-3">& What to a cat is a lap but a stage :|| grave.</h3>
        <pre>
& What to a cat is a lap but a stage :|| grave.
      Lulu,Wooleybear,Smike,Shebang
      –what to a lap is a cat but a pain.
        </pre>
    </div>
</div>