---
title: Chase Woodford | Words from Wiconisco
layout: layout.njk
---

<div class="row">
    <div class="col-12 col-lg-10 mb-4 mx-auto">
        <h3 class="border-bottom pb-1 mb-3">wordsFromWiconisco/</h3>
        <div class="table-responsive">
            <table class="table table-striped table-playground">
                <thead>
                <tr>
                    <th>track</th>
                    <th class="ps-4">title</th>
                    <th>length</th>
                    <th>size (kb)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td><a href="/resources/audio/guitar/Words%20From%20Wiconisco/All%20You%20Ask.mp3">all you ask</a></td>
                    <td>3:08</td>
                    <td>1,465</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><a href="/resources/audio/guitar/Words%20From%20Wiconisco/Road%20Less%20Traveled.mp3">road less traveled</a></td>
                    <td>3:29</td>
                    <td>1,634</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><a href="/resources/audio/guitar/Words%20From%20Wiconisco/Open%20Up.mp3">open up</a></td>
                    <td>2:40</td>
                    <td>1,249</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td><a href="/resources/audio/guitar/Words%20From%20Wiconisco/Grain%20of%20Sand.mp3">grain of sand</a></td>
                    <td>2:20</td>
                    <td>1,468</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td><a href="/resources/audio/guitar/Words%20From%20Wiconisco/Fooled%20By%20a%20Kiss.mp3">fooled by a kiss</a></td>
                    <td>3:08</td>
                    <td>1,468</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td><a href="/resources/audio/guitar/Words%20From%20Wiconisco/Perchance%20To%20Dream.mp3">perchance to dream</a></td>
                    <td>2:29</td>
                    <td>1,163</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td><a href="/resources/audio/guitar/Words%20From%20Wiconisco/Believe.mp3">believe in you</a></td>
                    <td>2:48</td>
                    <td>1,309</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td><a href="/resources/audio/guitar/Words%20From%20Wiconisco/Everyday%20Without%20You.mp3">everyday without you</a></td>
                    <td>3:19</td>
                    <td>1,553</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td><a href="/resources/audio/guitar/Words%20From%20Wiconisco/The%20Alchemist.mp3">the alchemist</a></td>
                    <td>2:17</td>
                    <td>1,073</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td><a href="/resources/audio/guitar/Words%20From%20Wiconisco/Old%20Goodbyes.mp3">old goodbyes</a></td>
                    <td>4:35</td>
                    <td>2,140</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td><a href="/resources/audio/guitar/Words%20From%20Wiconisco/Hidden%20Track.mp3">hidden track</a></td>
                    <td>1:42</td>
                    <td>1,561</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>