---
title: Chase Woodford | Let's play assailant
layout: layout.njk
---

<div class="row">
    <div class="col-12 col-lg-10 mb-4 mx-auto">
        <h3 class="border-bottom pb-1 mb-3">Let's play assailant</h3>
        <pre>
Let's play assailant
          & assassin

until the last drop of blood
settles,
          stains
these hands cut like a martyr's

play the youhero can
heretic, I'll—

above the
          flames
          of
burning faggots dancing I

sea
     of
          your eyes

in, is

love dying so I and am
        </pre>
    </div>
</div>