---
title: Chase Woodford | I took you once.
layout: layout.njk
---

<div class="row">
    <div class="col-12 col-lg-10 mb-4 mx-auto">
        <h3 class="border-bottom pb-1 mb-3">I took you once.</h3>
        <pre>
I took you once.
You thought I'd always be there.
There's a difference between jokes and humor.
        </pre>
    </div>
</div>