---
title: Chase Woodford | Ebooks
layout: layout.njk
---

<div class="row">
    <div class="col-12 col-lg-10 mb-4 mx-auto">
        <h3 class="border-bottom pb-1 mb-3">ebooks/</h3>
        <div class="table-responsive">
            <table class="table table-striped table-playground">
                <thead>
                <tr>
                    <th></th>
                    <th class="ps-4">title</th>
                    <th>author</th>
                    <th>description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><img src="/assets/img/ico-back.gif" alt="back icon"></td>
                    <td><a href="/playground">parent directory</a></td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><img class="ebook" src="beginnersGuide.jpeg" alt="ebook cover"></td>
                    <td><a href="/resources/ebooks/SEOmoz-The-Beginners-Guide-To-SEO.pdf">The Beginners Guide to SEO</a></td>
                    <td>Rand Fishkin & Moz Staff</td>
                    <td>The Beginner's Guide to SEO has been read over 1 million times and provides comprehensive information you need to get on the road to professional quality SEO.</td>
                </tr>
                <tr>
                    <td><img class="ebook" src="javascript.jpeg" alt="ebook cover"></td>
                    <td><a href="/resources/ebooks/JavaScript_The_Definitive_Guide_Sixth_Edition.pdf">JavaScript The Definitive Guide Sixth Edition</a></td>
                    <td>David Flanagan</td>
                    <td>This book covers the JavaScript language and the JavaScript APIs implemented by web browsers.</td>
                </tr>
                <tr>
                    <td><img class="ebook" src="refactoringUI.jpeg" alt="ebook cover"></td>
                    <td><a href="/resources/ebooks/Refactoring UI v1.0.2.pdf">Refactoring UI</a></td>
                    <td>Adam Wathan & Steve Schoger</td>
                    <td>Learn how to design beautiful user interfaces by yourself using specific tactics explained from a developer's point-of-view.</td>
                </tr>
                <tr>
                    <td><img class="ebook" src="researchBased.png" alt="ebook cover"></td>
                    <td><a href="/resources/ebooks/Research_Based_Web_Design_And_Usability_Guidelines.pdf">Research Based Web Design And Usability Guidelines</a></td>
                    <td>N/A</td>
                    <td>The Guidelines were developed to assist those involved in the creation of Web sites to base their decisions on the most current and best available evidence. The Guidelines are particularly relevant to the design of information-oriented sites, but can be applied across the wide spectrum of Web sites.</td>
                </tr>
                <tr>
                    <td><img class="ebook" src="responsiveDelivery.png" alt="ebook cover"></td>
                    <td><a href="/resources/ebooks/Responsive_Delivery_WHITEPAPER_6.pdf">Responsive Delivery (whitepaper)</a></td>
                    <td>Ike DeLorenzo</td>
                    <td>The goal of Responsive Delivery is to preserve business logic, workflow, and assets as each transformed user experience targets a new device.</td>
                </tr>
                <tr>
                    <td><img class="ebook" src="secrets.jpeg" alt="ebook cover"></td>
                    <td><a href="/resources/ebooks/Secrets_of_the_JavaScript_Ninja_Second_.pdf">Secrets of the JavaScript Ninja Second Edition</a></td>
                    <td>John Resig, Bear Bibeault, and Josip Maras</td>
                    <td>If you're serious about web development, it's not enough to be a decent JavaScript coder. You need to be ninja-stealthy, efficient, and ready for anything.</td>
                </tr>
                <tr>
                    <td><img class="ebook" src="sinatra.jpeg" alt="ebook cover"></td>
                    <td><a href="/resources/ebooks/Sinatra_Up_and_Running.pdf">Sinatra Up and Running</a></td>
                    <td>Alan Harris & Konstantin Haase</td>
                    <td>Our goal is to provide the core concepts and accompanying examples to help you feel comfortable using Sinatra as quickly as possible. By the end, you should have a working knowledge of Sinatra and how it fits into the larger Ruby web development ecosystem.</td>
                </tr>
                <tr>
                    <td><img class="ebook" src="speculations.png" alt="ebook cover"></td>
                    <td><a href="/resources/ebooks/Speculations_Concerning_The_First_Ultraintelligent_Machine.pdf">Speculations Concerning the First Ultraintelligent Machine</a></td>
                    <td>I.J. Good</td>
                    <td>Thus the first ultraintelligent machine is the last invention that man need ever make, provided that the machine is docile enough to tell us how to keep it under control.</td>
                </tr>
                <tr>
                    <td><img class="ebook" src="springInAction.jpeg" alt="ebook cover"></td>
                    <td><a href="/resources/ebooks/Spring_in_Action_Fo.pdf">Spring in Action Fourth Edition</a></td>
                    <td>Craig Walls</td>
                    <td>A hands-on guide to the Spring Framework.</td>
                </tr>
                <tr>
                    <td><img class="ebook" src="uxDesign.jpeg" alt="ebook cover"></td>
                    <td><a href="/resources/ebooks/uxpin_guide_to_uxdesign_process_and_documentation.pdf">UX Design Process & Documentation</a></td>
                    <td>Chris Bank & Jerry Cao</td>
                    <td>Documentation is much more than a pile of papers for occasional browsing. It is product narration, a formalized vision, and a compass for when things become unpredictable.</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>