---
title: Chase Woodford | The advertiser tells
layout: layout.njk
---

<div class="row">
    <div class="col-12 col-lg-10 mb-4 mx-auto">
        <h3 class="border-bottom pb-1 mb-3">The advertiser tells</h3>
        <pre>
The advertiser tells
me, I could die at any moment.
Who writes such copy
unafraid to die himself?
        </pre>
    </div>
</div>