---
title: Chase Woodford | Long Story Short
layout: layout.njk
---

<div class="row">
    <div class="col-12 col-lg-10 mb-4 mx-auto">
        <h3 class="border-bottom pb-1 mb-3">longStoryShort/</h3>
        <div class="table-responsive">
            <table class="table table-striped table-playground">
                <thead>
                <tr>
                    <th>track</th>
                    <th class="ps-4">title</th>
                    <th>length</th>
                    <th>size (kb)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td><a href="/resources/audio/guitar/Long%20Story%20Short/Wednesday%20Night%20Song.mp3">wednesday night song</a></td>
                    <td>3:31</td>
                    <td>4,969</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><a href="/resources/audio/guitar/Long%20Story%20Short/Only%20In%20Dreams.mp3">only in dreams</a></td>
                    <td>3:25</td>
                    <td>6,438</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><a href="/resources/audio/guitar/Long%20Story%20Short/Now%20You%20Know.mp3">now you know</a></td>
                    <td>3:07</td>
                    <td>4,401</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td><a href="/resources/audio/guitar/Long%20Story%20Short/Petaluma.mp3">petaluma</a></td>
                    <td>3:43</td>
                    <td>3,498</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td><a href="/resources/audio/guitar/Long%20Story%20Short/La%20Mia%20Stella.mp3">la mia stella</a></td>
                    <td>4:55</td>
                    <td>6,929</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td><a href="/resources/audio/guitar/Long%20Story%20Short/Something%20Like%20You.mp3">something like you</a></td>
                    <td>2:34</td>
                    <td>3,632</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td><a href="/resources/audio/guitar/Long%20Story%20Short/Believe%20What%20You%20Want.mp3">believe what you want</a></td>
                    <td>2:40</td>
                    <td>2,509</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td><a href="/resources/audio/guitar/Long%20Story%20Short/Sure%20as%20a%20heart%20can%20break.mp3">sure as a heart can break</a></td>
                    <td>3:59</td>
                    <td>7,501</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td><a href="/resources/audio/guitar/Long%20Story%20Short/Stereotypes%20of%20a%20White%20Italian%20Female%20Misunderstood%20and%20It's%20Still%20All%20Good.mp3">stereotypes of a white italian female misunderstood and it's still all good</a></td>
                    <td>3:43</td>
                    <td>5,234</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td><a href="/resources/audio/guitar/Long%20Story%20Short/Best%20Mistake.mp3">best mistake</a></td>
                    <td>3:29</td>
                    <td>4,290</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td><a href="/resources/audio/guitar/Long%20Story%20Short/Tainted%20Love%20Song.mp3">tainted love song</a></td>
                    <td>2:33</td>
                    <td>3,597</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>