---
title: Chase Woodford | I notice you more
layout: layout.njk
---

<div class="row">
    <div class="col-12 col-lg-10 mb-4 mx-auto">
        <h3 class="border-bottom pb-1 mb-3">I notice you more</h3>
        <pre>
I notice you more
Now by your absence, befall
Long dead and hallow
        </pre>
    </div>
</div>