---
title: Chase Woodford | She's my shot of liquor
layout: layout.njk
---

<div class="row">
    <div class="col-12 col-lg-10 mb-4 mx-auto">
        <h3 class="border-bottom pb-1 mb-3">She's my shot of liquor</h3>
        <pre>
She's my shot of liquor
Painful to swallow
Chased most immediately
Nearly unbearable
Always enjoyable

And if you are her
Then a shot of liquor be
But ne'er there's an affair
Whose worth's not worth cheating
        </pre>
    </div>
</div>