---
title: Home
layout: layout.njk
pagination:
  data: collections.post
  size: 6
  reverse: true
  alias: posts
---
<section>
    <div class="row">
        <div class="col-12 col-lg-8 mx-auto mb-4">
            <h3 class="text-center">Posts</h3>
            <ul class="list-group list-group-flush">
                {% for post in posts %}
                    {{ post.data.page | log }}
                    {# TODO: style post list #}
                    <a href="{{ post.url | url }}" class="list-group-item list-group-item-action" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1 me-5">{{ post.data.title }}</h5>
                            <small class="text-nowrap" title="pub date">2022-12-31</small>
                        </div>
                    </a>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-8 mx-auto mb-4">
            <h3 class="text-center">Projects</h3>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-3 g-4 justify-content-center">
                {# TODO: replace with projects content #}
                {% for post in posts %}
                    {{ post.data.page | log }}
                    <div class="col">
                        <div class="card h-100">
                            <img src={{ post.url }}{{ post.data.featuredImage }} class="card-img-top" alt="...">
                            <div class="card-body">
                                <a href="{{ post.url | url }}">
                                    <h6 class="card-title">{{ post.data.title }}</h6>
                                </a>
                                <p class="card-text small">{{ post.data.page.excerpt }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>