---
title: Chase Woodford | Resume
layout: layout.njk
---

<div class="row">
    <div class="col-12 col-lg-10 mb-4 mx-auto">
        <div class="d-flex flex-row align-items-center border-bottom pb-1 mb-3">
            <h3 class="p-0 m-0 me-auto">Resume</h3>
             <button id="export" class="btn btn-primary btn-sm" type="button">Download PDF</button>
        </div>
        <div class="container p-2 p-lg-4">
            <div id="resume" class="p-3 p-md-4 p-xl-5 border shadow">
                <div class="d-flex flex-column align-items-center container-contact">
                    <div class="d-flex flex-column flex-md-row align-items-center align-items-md-baseline mb-3 mb-md-0 fw-bold resume-name">
                        <h1 class="h2 me-md-2 fw-bold resume-name">Chase Woodford</h1>
                        <h2 class="h5 resume-title"><span class="d-none d-md-inline">/</span> designer / developer</h2>
                    </div>
                    <div class="d-flex flex-column flex-md-row align-items-center small text-muted resume-sm">
                        <a href="https://www.chasewoodford.com" class="mb-2 mb-md-0 text-decoration-none text-muted">chasewoodford.com</a>
                        <span class="d-none d-md-inline mx-1">&bull;</span>
                        <a href="https://github.com/chasewoodford" class="mb-2 mb-md-0 text-decoration-none text-muted">github.com/chasewoodford</a>
                        <span class="d-none d-md-inline mx-1">&bull;</span>
                        <a href="https://www.linkedin.com/in/chasewoodford/" class="mb-2 mb-md-0 text-decoration-none text-muted">linkedin.com/in/chasewoodford</a>
                    </div>
                </div>
                <div class="d-flex flex-column align-items-start container-summary my-5">
                    <p class="mb-0 text-muted resume-summary">
                        Detail-oriented Front-End Developer with 10+ years of experience crafting visually compelling,
                        user-focused desktop, web, and mobile applications. Proficient in JavaScript, CSS, and HTML,
                        with expertise in performance optimization and accessibility. Experienced with modern frameworks
                        and tools, including React, Bootstrap, and webpack, with a commitment to continuous learning.
                        Skilled in leading cross-functional teams to solve complex technical challenges. Passionate
                        about building intuitive interfaces that deliver engaging
                        user experiences.
                    </p>
                </div>
                <div class="d-flex flex-column align-items-start container-employment mb-4 html2pdf__page-break">
                    <div class="mb-2 resume-employment-company">
                        <span class="h3 me-1 fw-bold resume-section-header">Verilogue</span>
                        <span class="h5 resume-section-title">/ employment</span>
                    </div>
                    <div class="d-flex flex-row justify-content-between w-100 my-3">
                        <div class="small fw-bold resume-employment-type">
                            Associate Director, Technology
                        </div>
                        <div class="small fw-bold resume-employment-period">
                            Sept 2020 &mdash; Present
                        </div>
                    </div>
                    <div class="mb-3 resume-employment-experience">
                        <ul class="text-muted">
                            <li>Upgraded critical infrastructure, including migrating Bootstrap 4 to 5, Webpack 3 to 5,
                                and converting multiple enterprise web applications from JSP templates to Thymeleaf,
                                enhancing application scalability and maintainability
                            </li>
                            <li>Productionalized the Insagic HealthStyles Reporting Tool, a React application with a MUI
                                CSS frontend, increasing platform access by over 400% and boosting uptime by 200%
                            </li>
                            <li>Redesigned the UI/UX of Verilogue's Recorder mobile app and refactored the iOS and
                                Android codebases, significantly improving usability
                            </li>
                            <li>Developed and supported the second iteration of the LogueWorks platform, streamlining
                                processes and expanding functionality, contributing to a +70% increase in operational
                                efficiency
                            </li>
                            <li>Integrated Box and Asana APIs into RevealMR and helped implement LionLogin SAML
                                integration for secure authentication, improving workflow efficiency
                            </li>
                            <li>Leveraged generative AI services, including Amazon Transcribe, HealthScribe, Comprehend
                                Medical, and Azure OpenAI, to deliver AI-driven solutions that reduced costs,
                                transcription turnaround time, and research analysis time
                            </li>
                            <li>Designed and developed a chatbot interface for RevealMR using WebSockets, vector
                                embeddings, retrieval-augmented generation (RAG), and advanced prompt engineering
                                techniques, marking one of the application’s first integrations of AI-driven features
                            </li>
                            <li>Managed direct reports and multiple outsourced programming teams</li>
                        </ul>
                    </div>
                    <div class="d-flex flex-row justify-content-between w-100 my-3">
                        <div class="small fw-bold resume-employment-type">
                            Manager, Technology
                        </div>
                        <div class="small fw-bold resume-employment-period">
                            Jan 2012 &mdash; Sept 2020
                        </div>
                    </div>
                    <div class="mb-3 resume-employment-experience">
                        <ul class="text-muted">
                            <li>Led UI/UX design and front-end development of all web, desktop, and mobile applications,
                                including: verilogue.com and related marketing properties; Verilogue Recorder, a mobile
                                app used by our physicians; carecoach.com and patient mobile app (retired);
                                revealmr.com, a client-facing content management system; logueworks.com, an automated
                                workflow service; and sales training iPad and desktop applications
                            </li>
                            <li>Contributed to the design, development, and maintenance of scalable SQL databases and
                                cloud infrastructure on Amazon Web Services (AWS)
                            </li>
                            <li>Produced promotional content for internal and external marketing efforts, including
                                audio/video teasers, e-mail campaigns, microsites, landing pages, and social media
                            </li>
                        </ul>
                    </div>
                    <div class="d-flex flex-row justify-content-between w-100 my-3">
                        <div class="small fw-bold resume-employment-type">
                            Manager, Field Services
                        </div>
                        <div class="small fw-bold resume-employment-period">
                            Jul 2006 &mdash; Jan 2012
                        </div>
                    </div>
                    <div class="mb-3 resume-employment-experience">
                        <ul class="text-muted">
                            <li>Managed transcription/translation team of 12 company vendors and ~150 individuals</li>
                            <li>Ensured 99.9% accuracy and HIPAA compliance of a database containing 110,000+
                                interactions, spanning 12 international markets, 138 disease states and various
                                multimedia formats
                            </li>
                            <li>Met data collection requirements and deadlines for projects sold to over 150 brand
                                teams, including all top 20 of the world’s largest pharmaceutical companies
                            </li>
                            <li>Managed annual throughput from low of 1,975 interactions per year to 16,080, a 714%
                                increase in capacity
                            </li>
                            <li>Reduced transcript processing turn-around time from high of 41 days to low of 3 days, a
                                92.7% improvement in efficiency
                            </li>
                            <li>Negotiated cost of transcription down from $1.80/audio minute to $0.40/audio minute, a
                                78% reduction in cost per interaction
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-flex flex-column flex-lg-row justify-content-between mb-0 mb-lg-4">
                    <div class="col pe-0 pe-lg-5 container-skills">
                        <div class="mb-2 container-header">
                             <span class="h3 me-1 fw-bold resume-section-header">Proficiencies</span>
                            <span class="h5 resume-section-title">/ skills</span>
                        </div>
                        <div class="resume-skills">
                            <ul class="text-muted">
                                <li>AWS, Bootstrap, CSS, Git, Hibernate<small class="footnote"><sup>*</sup></small>, HTML, Java/JEE<small class="footnote"><sup>*</sup></small>, JavaScript, jQuery, MVC, npm, PHP, Python<small class="footnote"><sup>*</sup></small>, React<small class="footnote"><sup>*</sup></small>, Ruby<small class="footnote"><sup>*</sup></small>, Sass, Spring<small class="footnote"><sup>*</sup></small>, SQL, SVN, Swift<small class="footnote"><sup>*</sup></small>, Thymeleaf, TypeScript<small class="footnote"><sup>*</sup></small>, Vue<small class="footnote"><sup>*</sup></small>, webpack</li>
                                <li>WordPress, Joomla!</li>
                                <li>Adobe Creative Cloud</li>
                                <li>Figma, Balsamiq</li>
                                <li>Sony Creative Software</li>
                                <li>Agile with Scrum, JIRA, Asana, GitHub/GitLab</li>
                                <li>Microsoft Office Suite, Visio, SharePoint</li>
                                <li>Marketo, HubSpot, Salesforce Marketing Cloud</li>
                                <li>Prompt Engineering, RAG strategies, LLM frameworks, multi-agent workflows<small class="footnote"><sup>*</sup></small></li>
                            </ul>
                            <div class="d-block mb-3 mb-lg-0 small footnote"><sup>*</sup> Denotes working proficiency</div>
                        </div>
                    </div>
                    <div class="col pe-0 pe-lg-5 container-projects">
                        <div class="mb-2 container-header">
                            <span class="h3 me-1 fw-bold resume-section-header">Recent Projects</span>
                            <span class="h5 resume-section-title">/ experience</span>
                        </div>
                        <div class="resume-projects">
                            <ul class="text-muted">
                                <li><a href="/projects/healthstyles-reporting-tool/" class="text-decoration-none text-muted">HealthStyles Reporting Tool (React app)</a></li>
                                <li><a href="/projects/verilogue-recorder/" class="text-decoration-none text-muted">Verilogue Recorder (mobile app)</a></li>
                                <li><a href="/projects/smart-beat/" class="text-decoration-none text-muted">Smart Beat (iOS app)</a></li>
                                <li><a href="/projects/town-trekkers/" class="text-decoration-none text-muted">Town Trekkers (multimedia)</a></li>
                                <li><a href="/projects/aj-originals/" class="text-decoration-none text-muted">AJ Originals (website)</a></li>
                                <li><a href="/projects/logueworks/" class="text-decoration-none text-muted">LogueWorks (Java application)</a></li>
                                <li><a href="/projects/reveal-mr/" class="text-decoration-none text-muted">RevealMR (Java application)</a></li>
                                <li><a href="/projects/calm-focus/" class="text-decoration-none text-muted">Calm Focus (website)</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column flex-lg-row justify-content-between mb-4">
                    <div class="col pe-0 pe-lg-5 container-education">
                        <div class="mb-2 container-header">
                            <span class="h3 me-1 fw-bold resume-section-header">Temple Univ.</span>
                            <span class="h5 resume-section-title">/ education</span>
                        </div>
                        <div class="resume-education">
                            <ul class="text-muted">
                                <li>BA in Advertising, Sociology Minor (2007)</li>
                                <li>Graduated summa cum laude</li>
                                <li>Member, Temple Student Government</li>
                                <li>Brother, Alpha Tau Omega Fraternity</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col pe-0 pe-lg-5 container-references">
                        <div class="mb-2 container-header">
                             <span class="h3 fw-bold resume-section-header">References</span>
                        </div>
                        <div class="resume-references">
                            <ul class="text-muted">
                                <li>Available upon request</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('export').addEventListener('click', () => {
		const url = '/resources/documents/resume_cwoodford.pdf';
		window.open(url, '_blank');
    });
</script>