---
title: Chase Woodford | So is art—ignorance, see
layout: layout.njk
---

<div class="row">
    <div class="col-12 col-lg-10 mb-4 mx-auto">
        <h3 class="border-bottom pb-1 mb-3">So is art—ignorance, see</h3>
        <pre>
So is art—ignorance, see
The Artist in back
The bathroom, the bar
Being bumped continuously

The Gay with the camera's
Atop the bar
Filming the Artist
But that is not art.

So is art—ignorance, see
The Beer that is poured
The glass, the head
Drunken with a feverish speed.

The Hair with little money
Got girl to car
With his clever words
But that is not art.

So is art—ignorance, see
The Ethnic dancing
The table, the crowd
Pass unflinchingly underneath.

The Pupil watches and writes
Sitting afar
Of the Ethnic girl
But that is not art.
        </pre>
    </div>
</div>